{% load static %}

<footer class="site-footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-col">
                <h3>О нас</h3>
                <ul>
                    <li><a href="/about/">О компании</a></li>
                    <li><a href="/contacts/">Контакты</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h3>Покупателям</h3>
                <ul>
                    <li><a href="/delivery/">Доставка и оплата</a></li>
                    <li><a href="/refund/">Возврат и обмен</a></li>
                    <li><a href="/bonus/">Бонусная система</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h3>Правовая информация</h3>
                <ul>
                    <li><a href="https://drive.google.com/file/d/1F4D2Q3g-1C-mXQfuHsJVU6_4QnDUQQOv/view?usp=sharing" target="_blank" rel="noopener noreferrer">Политика конфиденциальности</a></li>
                    <li><a href="https://drive.google.com/file/d/1gD5zpcQfs6R5IQET5JcSrjSKfqhiBwsi/view?usp=drive_link" target="_blank" rel="noopener noreferrer">Публичная оферта</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h3>Контакты</h3>
                <p>Москва, Большой Сухаревский переулок, 1</p>
            </div>
        </div>
        <div class="footer-bottom">&copy; 2025 | YazShop</div>
    </div>
</footer>

