{% extends 'base.html' %}
{% load static %}
{% block title %}О нас - YazShop{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
<div class="about-wrapper">
  <div class="about-text">
    <h1>О нас</h1>
    <p>Yaz — российский бренд одежды основанный в 2024 году в Москве. Название отражает концепцию «настоящего стиля», который сочетает в себе современность, комфорт и высокое качество.</p>
    

    <h2>Наше пространство</h2>
    <p>Yaz — это двухэтажный концептуальный магазин в самом центре Москвы, расположенный по адресу: Большой Сухаревский переулок 1. Выполненный в стиле тропического оазиса с нотками пустынного уюта. Мы заботимся о том, чтобы каждый визит стал для вас особенным, поэтому предлагаем не только стильную одежду, но и атмосферу, вдохновляющую на новые открытия.</p>

    <div class="about-images">
      <img src="{% static 'images/store_interior1.jpeg' %}" alt="Интерьер магазина Yaz 1">
      <img src="{% static 'images/store_interior2.jpeg' %}" alt="Интерьер магазина Yaz 2">
      <img src="{% static 'images/store_interior3.jpeg' %}" alt="Интерьер магазина Yaz 3">
    </div>

    <h2>Наш ассортимент</h2>
    <ul>
      <li>Повседневную одежду, которая идеально впишется в ваш ритм жизни.</li>
      <li>Классические костюмы и платья с нестандартным кроем для ярких событий.</li>
      <li>Базовые вещи, которые станут основой вашего гардероба.</li>
      <li>Дизайнерские модели для тех, кто любит выделяться.</li>
    </ul>

    <h2>Наша философия</h2>
    <p>Мы верим, что шопинг — это больше, чем покупка вещей. Это время для себя, возможность выразить свой стиль и ощутить удовольствие от заботы. Наши стилисты-продавцы помогают каждому клиенту подобрать идеальный образ и раскрыть индивидуальность.</p>

    <h2>Что нас отличает?</h2>
    <ul>
      <li>Индивидуальный подход. Наши стилисты становятся вашими проводниками в мире стиля.</li>
      <li>Качество и стиль. Мы выбираем только то, что сами носили бы с удовольствием.</li>
      <li>Атмосфера. В Yaz вас ждёт не только одежда, но и уютное бистро, где можно насладиться чашкой кофе или бокалом вина.</li>
    </ul>

    <p>Приходите в Yaz, чтобы обновить гардероб, вдохновиться новыми идеями и почувствовать себя особенным! Мы ждём вас.</p>
  </div>
</div>
{% endblock %}
