{% extends 'base.html' %}
{% load static %}
{% block title %}Доставка - YazShop{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/refund.css' %}">
{% endblock %}

{% block content %}
<div class="text-block">
  <h1>ДОСТАВКА</h1>

  <p>Мы заботимся о вашем удобстве и предлагаем надежные и быстрые способы доставки.</p>

  <h2>Условия доставки</h2>

  <h3>Доставка по Москве и Московской области:</h3>
  <p>Курьерская доставка осуществляется в течение 1–3 рабочих дней. Стоимость доставки в пределах МКАД — 500 рублей. За МКАД уточняется при оформлении заказа.</p>

  <h3>Доставка по России:</h3>
  <p>Мы сотрудничаем с надежными транспортными компаниями, чтобы доставить ваш заказ в любой регион России. Сроки и стоимость доставки рассчитываются индивидуально в зависимости от вашего местоположения.</p>

  <h3>Самовывоз:</h3>
  <p>Забрать заказ вы можете в нашем магазине по адресу: Большой Сухаревский переулок 1. Мы всегда рады видеть вас!</p>

  <h2>Как оформить доставку?</h2>
  <ol>
    <li>Выберите товары в нашем магазине или онлайн-каталоге.</li>
    <li>Укажите удобный способ доставки при оформлении заказа.</li>
    <li>Подтвердите детали с нашим менеджером — мы свяжемся с вами для уточнения информации.</li>
  </ol>

  <p>Если у вас есть вопросы по доставке, наши специалисты с удовольствием помогут!</p>
</div>
{% endblock %}
