{% extends 'base.html' %}
{% load static %}
{% block title %}Возврат и обмен - YazShop{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/refund.css' %}">
{% endblock %}

{% block content %}
<div class="text-block">
  <h1>ВОЗВРАТ И ОБМЕН</h1>

  <h2>Правила возврата товара</h2>
  <p>
    Возврат необходимо оформить вами самостоятельно. Обратите внимание, что посылка с товаром должна прибыть в магазин не позднее, чем через 14 дней после получения вами заказа. Мы рекомендуем начать процедуру возврата в течение первых 7 дней с момента получения заказа, чтобы уложиться в установленные сроки. Если вы хотите обменять товар, то сначала нужно оформить возврат, а затем оформить новый заказ.
  </p>

  <h2>Подготовьте посылку и вложите в неё бланк возврата</h2>
  <p>
    Тщательно упакуйте товары, по возможности используя первоначальную упаковку, и приложите бланк возврата. В этом документе следует перечислить возвращаемые товары, а также указать номер вашего заказа.
  </p>
  <p>
    Наличие бланка возврата обязательно. Без заполненного бланка товары не будут приняты к возврату или обмену. Указывайте, пожалуйста, в бланке ФИО того, кто оформил заказ.
  </p>

  <h2>Укажите адрес для возврата</h2>
  <p>
    Yaz, 127051, Москва, Большой Сухаревский переулок, 1<br>
    В качестве получателя укажите Мокиева А.Э.<br>
    Номер телефона для связи: <a href="tel:+79852199500">+7 (985) 219-95-00</a>
  </p>
  <p>
    Обратите, пожалуйста, внимание, что возврат товара, покупка которого была совершена в Магазине "Yaz", можно осуществить только в магазине "Yaz".
  </p>

  <h2>Отправьте товар</h2>
  <p>
    Для этого Вам необходимо воспользоваться любой удобной для вас курьерской службой и отправить посылку строго по адресу Yaz, 127051, Москва, Большой Сухаревский переулок, 1. Примите во внимание, что Yaz не берет на себя оплату расходов по пересылке или доставке возвращаемых товаров. Оформление обмена или возврата средств займет до 14 дней после получения посылки на нашем складе.
  </p>
  <p>
    Обратите, пожалуйста, внимание, что возврат товара, покупка которого была совершена в Магазине "Yaz", можно осуществить только в магазине "Yaz".
  </p>

  <h2>Какой товар можно вернуть</h2>
  <p>
    Вы можете вернуть товар, сохранивший свои потребительские свойства и товарный вид. На нем не должно быть следов эксплуатации и носки, при этом есть оригинальная и неповрежденная упаковка и ярлыки.
  </p>

  <h2>Обмен или возврат товаров ненадлежащего качества</h2>
  <p>
    В случае, если доставленный покупателю товар оказался ненадлежащего качества вследствие производственного брака, покупатель вправе вернуть его, либо обменять на аналогичный товар надлежащего качества, при условии его наличия.
  </p>
</div>
{% endblock %}
